<h2>{{ post.title|title }}</h2>
<p>Published on {{ post.published_at|date('d/m/Y H:i') }}.</p>

<p>
    {{ post.contentHTML|raw  }}
</p>

{%  if  linkPosts %}
<a href="{{ linkPosts }}" class="btn-default btn btn-primary">Back to Posts list</a>
{%  endif %}


<a href="{{ linkPosts }}/article-{{ post.id }}/update" class="btn btn-default btn-primary">Edit the post</a>
<hr>
